div#banner {
    background-color: #FFA500;
    width: 100%;
}

div#banner .positive {
    background-color: #00FF00;
}

div#banner .negative {
    background-color: #FF0000;
}

div#banner .info {
    background-color: #0000FF;
}

div#banner-content {
    width: 800px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #000;
    color: #FFF;
}
